.u-section-1 .u-sheet-1 {
  min-height: 752px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 48px auto 0;
}

.u-section-1 .u-form-1 {
  font-size: 1rem;
  height: 353px;
  margin-top: 74px;
  margin-bottom: 60px;
}

.u-section-1 .u-form-group-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 44px 20px;
}

.u-section-1 .u-input-1 {
  font-size: 2.25rem;
}

.u-section-1 .u-form-group-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 44px 20px;
}

.u-section-1 .u-input-2 {
  font-size: 2.25rem;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 15%;
  padding: 16px 29px 17px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 412px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-form-group-1 {
    margin-top: 111px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-form-group-2 {
    margin-top: 111px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-top: -26px;
  }
}